/* ENTIRE PAGE */
@import url('https://fonts.cdnfonts.com/css/elianto');

:root {
    --main-baby-blue: #DFE5EB;
    --main-baby-pink: #EBDFE8;
    --main-white: white;
    --main-black: black;
    --main-gray: #5c5c5c;
    --main-purple: #9d73e4;
    --main-lila: #d49fef;
    --main-pink: #ecb1f0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

main {
    padding: 0.5vh 0.25% 0 0.25%;
    background-color: #212529;
}

.elianto {
    font-family: 'Elianto', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.source-code-pro {
    font-family: 'Source Code Pro', monospace;
}

.oleo {
    font-family: 'Oleo Script Swash Caps', cursive;
}

.dancing-script {
    font-family: 'Dancing Script', cursive;
}

.navbar-height {
    height: 65px;
}

.button-mr {
    margin-right: 10px;
}

.hover:hover {
    font-weight: 600;
}

.logo-img {
    height: 50px;
    margin-top: -10px;
}

.navbar-brand {
    display: flex;
}

.navbar-scrolled {
    background-color: #212529;
}

.navbar {
    transition: all 0.5s;
}

/* Main page */

.main-container {
    display: flex;
    height: 99vh;
    width: 100%;
    background-image: url(../img-home/bkg-desktop.jpg);
    background-size: cover;
    border-radius: 10px;
    transition: 0.5s;
}

.center {
    width: 80%;
    margin: 10vh auto;
    text-align: left;
    background-color: #c5d1d8;
    border-radius: 10px;
    box-shadow: -5px -5px 10px #494949;
}

.header {
    font-size: 2vw;
    padding: 5vh 6vw;
}

.text {
    font-size: 1vw;  
    text-align: left;
    padding: 1vh 5vw;
    text-indent: 1vw;
}

.right-path {
    color: black;
}

.right-path:hover {
    color: #005085;
}

/* FOOTER */

footer {
    background-color: #212529;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    margin-left: 1vw;
    gap: 5vw;
    float: left;
}

.footer-links {
    padding: 2vh 0;
}

.footer-link {
    transition: 0.25s;
    color: white;
}

.footer-link-a {
    color: white;
    text-decoration: none;
}

.footer-header {
    padding-bottom: 2vh;
    text-decoration: underline;
}

.footer-right {
    padding: 2vh 1vw;
}

.copy {
    color: white;
    transition: 0.25s;
}

.footer-link:hover {
    color: #008080;
}

footer:hover .copy{
    color: #008080;
}

@media (max-width: 700px) {
    .main-container {
        background-image: url(../img-home/bkg-phone-portrait.jpg);
        background-size: cover;
    }
}

@media (min-width: 701px) and (max-width: 1000px) {
    .main-container {
        background-image: url(../img-home/bkg-tablet-portrait.jpg);
        background-size: cover;
    }
}